/node_modules
/public/hot
/public/storage
/public/user_product
/public/user_product_category
/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/public/pdf_img
/uploads
