@charset "utf-8";

/* 基礎のスタイル */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;700;900&display=swap&subset=japanese');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: "Noto Sans JP", "メイリオ","Meiryo","ＭＳ Ｐゴシック","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","Helvetica Neue","Helvetica","Arial",sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    text-decoration: none !important;
}

* a {
    text-decoration: none !important;
    color: unset;
}

h1, h2, h3, h4, h5, h6, p {
    line-height: 1.0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

@keyframes show {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes hide {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(100%);
    }
}

/* スマホ-PC表示切替 */
.sp {
    @media screen and (min-width: 600px) {
        display: none !important;
    }
}
.pc {
    @media screen and (max-width: 600px) {
        display: none !important;
    }
}

/* クラス-スタイル対応 */
.c-w {
    color: white;
}
.fd-c {
    flex-direction: column;
}
.fg-3 {
    flex-grow: 3;
}
.fw-b {
    font-weight: bold;
}
.h-80p {
    height: 80%;
}
.h-100p {
    height: 100%;
}
.of-a {
    overflow: auto;
}