a {
    text-decoration: none;
}

#search_keyword {
    width: 400px;
    padding: 8px 40px 8px 10px;
    background: url("../../img/img_03/search_right.png") right center no-repeat;
    border: 0;
    border-radius: 4px;
    margin: 8px;

    box-shadow: 5px 5px 10px grey;
}

table {
    /* border-collapse: separate; */
    border-spacing: 0;
    max-width: 1440px;
    margin: 0 auto;
}

.product_table thead {
    background: rgb(241, 242, 255);
    box-shadow: 5px 5px 10px grey;
    color: #6423fe;
    border-radius: 15px;
}

.table td {
    border: 0;
    text-align: center;
    vertical-align: middle;
    word-wrap: break-word;
    word-break: break-all;
}

.firstTD {
    height: 40px;
}

th {
    font-size: 18px !important;
}

tr:first-child th:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

tr:first-child th:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
    word-break: keep-all;
}

.product-id {
    word-break: keep-all !important;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

tbody {
    z-index: -10;
}

tbody tr {
    border-bottom: 1px solid rgb(206, 208, 211) !important;
}

tbody tr:first-child {
    border: 0 !important;
}

.product_table td {
    max-width: 300px;
}

.option_txt div {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product_first_img {
    cursor: pointer;
    width: 100px;
    height: 100px;
    border: 1px solid #d5d5d5;
    border-radius: 8px;
    object-fit: contain;
}

.img_pan_main {
    width: 420px;
    height: 420px;
    border: 1px solid #d5d5d5;
    border-radius: 12px;
}

#slide_img_pan_main img {
    width: 420px;
    height: 420px;
    border: 1px solid #d5d5d5;
    border-radius: 8px;
    object-fit: contain;
}

.img_pan {
    width: 430px;
    margin-top: 30px;
}

#slide_img_pan img {
    width: 100px;
    height: 100px;
    border: 1px solid #d5d5d5;
    border-radius: 4px;
    object-fit: contain;
}

.user_product_img_pan {
    width: 780px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    gap: 10px;
}

.user_product_img_first {
    width: 240px;
    height: 240px;
    grid-area: 1 / 1 / 3 / 3;
}

.user_product_img_first img {
    cursor: pointer;
    width: 240px;
    height: 232px;
    border-radius: 8px;
    border: 1px solid #d5d5d5;
    object-fit: contain;
}

.sub_image_pan {
    width: 111px;
    height: 111px;
}

.sub_image_pan .view_image {
    width: 111px;
    height: 111px;
    border: 1px solid #d5d5d5;
    border-radius: 8px;
    object-fit: contain;
}

.img_view {
    width: 600px;
    height: 600px;
}

#info_pan {
    color: black;
}

.change-count {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

#count_product {
    width: 32px;
    text-align: center;
}

#productID {
    font-size: 14px;
    font-weight: bold;
}
#name {
    font-size: 16px;
    font-weight: bold;
}

#price {
    font-size: 16px;
    font-weight: bold;
}

.tag {
    width: 32px;
    cursor: pointer;
}

#product_detail {
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid black;
}

#detail {
    font-size: 16px;
    /* font-weight: bold; */
}

#product_info {
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid black;
}

.info {
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #d5d5d5;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    font-size: 30px !important;
}

#modalImageViewList > .madal-content {
    border: 0 !important;
}

.csv-image {
    width: 32px;
    cursor: pointer;
}

.csv-div {
    width: 100%;
    padding: 0 16px;
    height: 640px;
    overflow: scroll;
}

.div-td {
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 4px;
}
